<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get one cat</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
</head>
<body>
    <main>
        <h1>Get one cat</h1>
        <form action=" <%= action %> " method="POST">
            <p>
                <label for="catId">CatId</label>
                <input type="text" id="catId" name="catId" size="5">
            </p>
            <button type="submit">Submit</button>
        </form>
        <a href="/"><button>Menu</button></a>
    </main> 
</body>
</html>