main, form {
    display:grid;
    align-items: center;
    justify-items: center;
    background-color: lavender;
    
}
input[readonly]{
    background-color: lightgray;
}

table{
    border-collapse: collapse;
    margin-bottom:1em;
}

thead{
    background-color: powderblue;
}


table, th, td{
    border:solid black 1px;
    padding:0.5em;
    background-color: white;
}


button{
    margin: 1em;
    font-family: sans-serif;
    font-size: 15px;
    width:13em;
    height: 3em;
    background-color: powderblue;
    border-radius: 5px;
}

p.error{
    border:dashed red 2px;
    padding:1em;
}

p.info{
    border: solid green 2px;
    padding:1em;
}

h1.error{
    color:red;
}