<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/basicstyles.css" type="text/css">
</head>
<body>
    
    <form action="<%= action %>" method="POST">
        <h1><%= header %></h1>
        <p class="form-group">
            <label for="customer-id">Customer ID: </label>
            <input id="customer-id" type="text" name="customerID">
        </p>
        <button type="submit">Submit</button>
    </form>
    <a href="/"><button>Menu</button></a>
</body>
</html>